/* =============
    Section 1
============= */
#section-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $black;
    height: 100vh;

    div{
        width: 80%;

        // border: 1px solid red;
        video{
            width: 100%;
            // border: 1px solid yellow;
        }
    }
}
